@model Movys.Web.ViewModels.Profiles.ChangeAvatarViewModel

<form enctype="multipart/form-data" method="post" asp-action="Upload">
    <a><img id="avatar" src="data:image/png;base64, @(Model.CurrentAvatar??string.Empty)" style="width:120px; height:120px;" alt=""><br></a>
    <input asp-for="Avatar" type="file" />
    <br />
    <a href="#" onclick="this.parentElement.submit()" class="redbtn">Change avatar</a>
</form>
