@using Movys.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<!-- Hero Section end -->
<section class="hero-section set-bg" data-setbg="~/img/hero-bg.jpg">
    <div class="container">
        <div class="hero-warp">
            <form class="main-search-form">
                <div class="search-type">
                    <div class="st-item">
                        <input type="radio" name="st" id="buy" checked>
                        <label for="buy">Buy</label>
                    </div>
                    <div class="st-item">
                        <input type="radio" name="st" id="rent">
                        <label for="rent">Rent</label>
                    </div>
                    <div class="st-item">
                        <input type="radio" name="st" id="sell">
                        <label for="sell">Sell</label>
                    </div>
                    <div class="st-item">
                        <input type="radio" name="st" id="property">
                        <label for="property">Property Value</label>
                    </div>
                    <div class="st-item">
                        <input type="radio" name="st" id="agents">
                        <label for="agents">Agents</label>
                    </div>
                </div>
                <div class="search-input">
                    <input type="text" placeholder="Search by state, postcode or suburb">
                    <button class="site-btn">Search</button>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
            </form>
        </div>
    </div>
</section>
<!-- Hero Section end -->
<!-- Intro Section end -->
<section class="intro-section spad">
    <div class="container">
        <div class="section-title">
            <h2>Find and Vote for your favourite movie!</h2>
        </div>
        <div class="row intro-first">
            <div class="col-lg-6 order-lg-2">
                <img src="~/img/about/1.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="about-text">
                    <h3>Over 15000 record of movies!</h3>
                    <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec. In libero orci, ornare non nisl a, auctor euismod purus. Morbi pretium interdum vestibulum. Fusce nec eleifend ipsum. Sed non blandit tellus.</p>
                    <a href="#" class="readmore-btn">Find out more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="~/img/about/2.jpg" alt="">
            </div>
            <div class="col-lg-6 ">
                <div class="about-text">
                    <h3>How Much Can You Save? We work for you, not commission.</h3>
                    <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec. In libero orci, ornare non nisl a, auctor euismod purus. Morbi pretium interdum vestibulum. Fusce nec eleifend ipsum. Sed non blandit tellus.</p>
                    <a href="#" class="readmore-btn">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Intro Section end -->
<!-- Property Section -->
<section class="property-section">
    <div class="container">
        <div class="section-title">
            <h2>Recently Add Homes</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="property-item">
                    <div class="pi-image">
                        <img src="~/img/property/1.jpg" alt="">
                        <div class="pi-badge new">New</div>
                    </div>
                    <h3>$469,000</h3>
                    <h5>3 Bedrooms Townhouse</h5>
                    <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora.</p>
                    <a href="#" class="readmore-btn">Find out more</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="property-item">
                    <div class="pi-image">
                        <img src="~/img/property/2.jpg" alt="">
                        <div class="pi-badge offer">Offer</div>
                    </div>
                    <h3>$369,000</h3>
                    <h5>3 Bedrooms Townhouse</h5>
                    <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora.</p>
                    <a href="#" class="readmore-btn">Find out more</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="property-item">
                    <div class="pi-image">
                        <img src="~/img/property/3.jpg" alt="">
                        <div class="pi-badge new">New</div>
                    </div>
                    <h3>$560,000</h3>
                    <h5>3 Bedrooms Townhouse</h5>
                    <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora.</p>
                    <a href="#" class="readmore-btn">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Property Section end -->
<!-- Loan Section end -->
<section class="loan-section">
    <div class="loan-warp">
        <div class="container">
            <div class="section-title text-white">
                <h2>See If You Qualify for a Mortgage</h2>
                <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec. In libero orci, ornare non nisl a, auctor euismod purus. Morbi pretium interdum vestibulum. Fusce nec eleifend ipsum. Sed non blandit tellus. </p>
            </div>
            <form class="loan-form">
                <input type="text" placeholder="Your income">
                <input type="text" placeholder="Amount needed">
                <button class="site-btn">Submit</button>
            </form>
        </div>
    </div>
</section>
<!-- Loan Section end -->
<!-- Stories Section end -->
<section class="stories-section spad">
    <div class="container">
        <div class="row ">
            <div class="col-lg-5 order-lg-2">
                <img class="w-100" src="~/img/about/3.jpg" alt="">
            </div>
            <div class="col-lg-7 order-lg-1">
                <div class="about-text">
                    <h2>Seller Success Stories</h2>
                    <p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec. In libero orci, ornare non nisl a, auctor euismod purus. Morbi pretium interdum vestibulum. Fusce nec eleifend ipsum. Sed non blandit tellus. </p>
                    <a href="#" class="readmore-btn">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Stories Section end -->