# Auto detect text files and perform LF normalization
* text=auto
*.pl linguist-detectable=true
*.js linguist-detectable=false
*.html linguist-detectable=false
*.htm inguist-detectable=false
*.css linguist-detectable=false